.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.S-page-header h2 {
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: 900;
  /* color: #61DAFB; */
}

.S-header {}

.S-footer-container {
  background: #222;
  width: 100%;
  min-height: 100px;
}

.S-body {
  min-height: calc(100vh - 158.8px);
  padding-bottom: 30px;
}

.S-container {
  min-height: 100%;
}

.S-form-actions {
  margin-top: 8px;
}

.S-page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.S-room-chat-box-container {
  height: 100%;
}

.S-room-chat-box {
  height: 100%;
}

.S-chat-messages {
  height: calc(100% - 32px);
}