.bg-dark {
    background-color: rgb(255, 0, 0) !important;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff !important;
}

.nav-item.active a {
    color: #000000 !important;
}

.nav-link:hover {
    color: #505050 !important;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 1.6em;
}

.S-signin-form-container .ant-input-affix-wrapper {
    margin: 0 8px 8px 0;
}

.S-blogpost-header-image .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    /* line-height: 160px; */
    background: #364d79;
    overflow: hidden;
}